@import url('https://fonts.googleapis.com/css?family=Montserrat|Livvic&display=swap');

html {
    /*background: url(background.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

body {
    font-family: 'Montserrat', 'Livvic', Arial, sans-serif;
    margin: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

#content-container {
    height: 100%;
    overflow-y: auto;
}

#content {
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0.33em;
    width: 1100px;
    position: relative;
    box-shadow: 0 0 1em #000;
    box-sizing: border-box;
}

#info h1 {
    text-align: center;
    font-family: 'Livvic', sans-serif;
}

.image {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fab {
    margin-right: 0.15em;
}

.scroll-log {
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    padding: 4px;
    width: 100%;
    border: 2px black;
    box-sizing: border-box;
    max-height: 12em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.log-line {
}

.selected {
    background-color: skyblue;
}

@media screen and (max-width: 1200px) {
    #content {
        margin-left: 3em;
        margin-right: 3em;
        width: auto;
    }
}

@media screen and (max-width: 700px) {
    #content {
        margin-left: 2em;
        margin-right: 2em;
        width: auto;
    }

    .scrollers-container {
        flex-direction: column;
    }
}
